RewriteEngine On
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

//specific domain
RewriteCond %{HTTP_HOST} ^eflexiload.net$ [NC]
RewriteRule (.*) http://www.eflexiload.net/$1 [R=301,L] 
